html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
header,
section {
    padding: 0px 20px;
    font-family: "Josefin Sans", sans-serif;
}
header h1 {
    margin: 20px 0;
    text-transform: capitalize;
}
header p {
    text-transform: capitalize;
    color: #a8a8a8;
}
p.error {
    height: 20px;
    color: #e9498e;
}
section a {
    text-decoration: none;
    color: #ffe797;
}
input {
    min-width: 100%;
}
button {
    width: 100%;
}
