body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";
    font-family: "Josefin Sans", sans-serif;
}
aside {
    grid-area: aside;
    border-right: 1px solid #282e3d;
    text-transform: capitalize;
    background-color: #282e3d70;
    padding-top: 60px;
}
aside header h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}
aside header p {
    padding: 30px 20px;
    box-sizing: border-box;
    color: #a8a8a8;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin: 25px 10px;
    padding: 0 0 25px 35px;
    border-bottom: 1px solid #282e3d;
}
ul li a {
    color: white;
    text-decoration: none;
}
ul li a:hover {
    color: #ffe797;
}
main {
    grid-area: main;
    padding: 60px 80px;
    box-sizing: border-box;
}
main section {
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #282e3d70;
    border: 1px solid #282e3d;
    border-radius: 12px;
    min-height: 60%;
}
main section header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    box-sizing: border-box;
    margin: 30px 0;
}
main section header h2 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
main section header p {
    margin: 0;
    padding: 0;
    text-align: right;
}
main section main.section {
    padding: 0;
}
table {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}
table tr {
    border-bottom: 1px solid #282e3d;
}
table tr:last-child {
    border-bottom: none;
}
table thead {
    background-color: #282e3d;
}
table thead th:first-child {
    border-top-left-radius: 8px;
}
table thead th:last-child {
    border-top-right-radius: 8px;
}
table thead th {
    padding: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
}
table tbody tr td {
    max-width: 250px;
    box-sizing: border-box;
    padding: 25px 10px;
    text-transform: capitalize;
}
table tbody td.task {
    text-align: center;
}
table tbody td.main {
    vertical-align: top;
}
table tbody tr td h4 {
    color: #ffe797;
    text-align: left;
    padding: 0;
    margin: 0;
}
table tbody tr td p {
    margin: 10px 0 3px 0;
}
table tbody tr td p.notice {
    padding: 5px 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a8a8a8;
    text-align: left;
}
p.startat,
p.duration,
p.progress,
p.status {
    padding: 0;
    font-size: 14px;
    text-align: left;
}
table tbody tr td a {
    text-decoration: none;
}
table tbody td button.done {
    margin: 0;
    display: inline-block;
    border: 1px solid #132728;
    border-radius: 8px;
    color: #3e975a;
    font-size: 15px;
    padding: 10px;
    background-color: #132728;
}
table tbody td button.done:hover {
    border: 1px solid #46b989;
    border-radius: 8px;
    text-shadow: 0 0 1px #46b989;
    color: #46b989;
    font-size: 15px;
    padding: 10px;
    background-color: #13281f;
}
table tbody td button.undone {
    margin: 0;
    display: inline-block;
    border: 1px solid #3a2737;
    border-radius: 8px;
    color: #a95a67;
    font-size: 15px;
    padding: 10px;
    background-color: #3a2737;
}
table tbody td button.undone:hover {
    border: 1px solid #e9498e;
    border-radius: 8px;
    text-shadow: 0 0 1px #e9498e;
    color: #e9498e;
    font-size: 15px;
    padding: 10px;
    margin: 0;
    background-color: #3a2737;
}
table tfoot {
    background-color: #282e3d;
}
table tfoot td {
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px;
}
table tfoot.my-task td {
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 20px;
}
table tfoot.my-task td div.page {
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}
table tfoot.my-task td div.arrow {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;
}
a.page {
    text-decoration: none;
    color: white;
}
a.page:hover {
    text-decoration: none;
    color: #ffe797;
}
table tfoot td:first-child {
    border-bottom-left-radius: 8px;
}
table tfoot td:last-child {
    border-bottom-right-radius: 8px;
}
.detail,
.edit,
.delete {
    margin: 0;
    display: inline-block;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
}
.detail {
    border: 1px solid #3d3d32;
    color: #cab97c;
    background-color: #3d3d32;
}
.detail:hover {
    border: 1px solid #ffe797;
    color: #ffe797;
    background-color: #3d3d32;
    text-shadow: 0 0 1px #ffe797;
}
.edit {
    border: 1px solid #1b1634;
    color: #4e32db;
    background-color: #1b1634;
}
.edit:hover {
    border: 1px solid #4c00ff;
    color: #4c00ff;
    background-color: #1b1634;
    text-shadow: 0 0 1px #4c00ff;
}
.delete {
    border: 1px solid #3a2737;
    color: #a95a67;
    background-color: #3a2737;
}
.delete:hover {
    border: 1px solid #e9498e;
    color: #e9498e;
    background-color: #3a2737;
    text-shadow: 0 0 1px #e9498e;
}
