body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";
    font-family: "Josefin Sans", sans-serif;
}
aside {
    grid-area: aside;
    border-right: 1px solid #282e3d;
    text-transform: capitalize;
    background-color: #282e3d70;
    padding-top: 60px;
}
aside header h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}
aside header p {
    padding: 30px 20px;
    box-sizing: border-box;
    color: #a8a8a8;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin: 25px 10px;
    padding: 0 0 25px 35px;
    border-bottom: 1px solid #282e3d;
}
ul li a {
    color: white;
    text-decoration: none;
}
ul li a:hover {
    color: #ffe797;
}
main {
    grid-area: main;
    padding: 60px 80px;
    box-sizing: border-box;
}
main section {
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #282e3d70;
    border: 1px solid #282e3d;
    border-radius: 12px;
    min-height: 60%;
}
main section header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    box-sizing: border-box;
    margin: 30px 0;
}
main section header h2 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
main section header p {
    margin: 0;
    padding: 0;
    text-align: right;
}
main section main.section {
    padding: 0;
}
table {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}
table tr {
    border-bottom: 1px solid #282e3d;
}
table tr:last-child {
    border-bottom: none;
}
table thead {
    background-color: #282e3d;
}
table thead th:first-child {
    border-top-left-radius: 8px;
}
table thead th:last-child {
    border-top-right-radius: 8px;
}
table thead th {
    padding: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
}
table tbody tr td {
    max-width: 250px;
    box-sizing: border-box;
    padding: 25px 10px;
    text-transform: capitalize;
}
table tbody tr td:first-child {
    vertical-align: top;
}
table tbody td.task {
    text-align: center;
}
table tbody tr td h4 {
    color: #ffe797;
    text-align: left;
    padding: 0;
    margin: 0;
}
table tbody tr td p {
    margin: 10px 0 3px 0;
}
table tbody tr td p.notice {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a8a8a8;
    text-align: left;
}
table tbody tr td p.startat {
    padding: 0;
    font-size: 14px;
    text-align: left;
}
table tbody tr td p.duration {
    padding: 0;
    font-size: 14px;
    text-align: left;
}
table tbody tr td p.progress {
    padding: 0;
    font-size: 14px;
    text-align: left;
}
table tbody tr td a {
    text-decoration: none;
}
table tbody td span.done {
    border: 1px solid #132728;

    border-radius: 8px;
    color: #3e975a;
    font-size: 15px;
    padding: 10px;
    background-color: #132728;
}
table tbody td span.done:hover {
    border: 1px solid #46b989;
    border-radius: 8px;
    text-shadow: 0 0 1px #46b989;
    color: #46b989;
    font-size: 15px;
    padding: 10px;
    background-color: #13281f;
}
table tbody td span.undone {
    border: 1px solid #3a2737;
    border-radius: 8px;
    color: #a95a67;
    font-size: 15px;
    padding: 10px;
    margin: 0;
    background-color: #3a2737;
}
table tbody td span.undone:hover {
    border: 1px solid #e9498e;
    border-radius: 8px;
    text-shadow: 0 0 1px #e9498e;
    color: #e9498e;
    font-size: 15px;
    padding: 10px;
    margin: 0;
    background-color: #3a2737;
}
table tfoot {
    background-color: #282e3d;
}
table tfoot td {
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px;
}
table tfoot td:first-child {
    border-bottom-left-radius: 8px;
}
table tfoot td:last-child {
    border-bottom-right-radius: 8px;
}
