@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
html,
body,
form,
input {
    margin: 0;
    padding: 0;
    background-color: #000610;
    color: rgb(255, 255, 255);
}
html,
body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
input {
    display: block;
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: unset;
    border: unset;
    border-bottom: 1px solid #282e3d;
}
input:hover {
    background-color: unset;
}
input:focus {
    border-bottom: 1px solid #ffe797;
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000610 inset;
    background-color: none;
}
input::placeholder {
    text-transform: capitalize;
    color: #a8a8a8;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #282e3d;
    border-radius: 8px;
    background-color: unset;
    resize: none;
}
textarea:focus {
    border: 1px solid #ffe797;
    outline: none;
}
button {
    display: block;
    box-sizing: border-box;
    padding: 20px 0;
    font-family: "Josefin Sans", sans-serif;
    color: #ffe797;
    text-transform: capitalize;
    margin: 20px 0;
    background-color: #282e3d;
    border: none;
    border-radius: 12px;
}
button:hover {
    background-color: #2c3344;
    text-shadow: 0 0 1px #ffe797;
}
label::after {
    content: " : ";
}
